@inherits LayoutComponentBase

<div class="login-page-wrapper">
    <main class="login-main">
        @Body
    </main>
    <footer class="login-page-footer">
        <small>E.N.T.C.U.E.N.T.R.O. &mdash; v1.0.0</small>
    </footer>
</div>
